@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #f6f7fb;
}

.container {
  text-align: center;
}

.progress__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  max-width: 100%;
  width: 350px;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}

.progress__container::after {
  content: '';
  background: #e0e0e0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 0.4rem;
  width: 100%;
  z-index: -2;
}

.progress {
  background: #3498db;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 0.4rem;
  width: 0%;
  z-index: -1;
  transition: 0.4 ease;
}

.circle {
  background: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 3px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
