@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --line-border-empty: #e0e0e0;
  --line-border-fill: #3498db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #f6f7fb;
}

.container {
  text-align: center;
}

.progress__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  max-width: 100%;
  width: 350px;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}

.progress__container::after {
  content: '';
  background: var(--line-border-empty);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 0.4rem;
  width: 100%;
  z-index: -2;
}

.progress {
  background: var(--line-border-fill);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 0.4rem;
  width: 0%;
  z-index: -1;
  transition: 0.4 ease;
}

.circle {
  background: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 3px solid var(--line-border-empty);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  transition: 0.4s ease;
}

.circle.circle--active {
  border: 3px solid var(--line-border-fill);
}

.btn {
  border: none;
  padding: 0.8rem 3rem;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  background: var(--line-border-fill);
  border-radius: 0.6rem;
  cursor: pointer;
}

.btn.btn--active {
  background: var(--line-border-fill);
}

.btn:not(:last-child) {
  margin-right: 1rem;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background: var(--line-border-empty);
  cursor: not-allowed;
}
